<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cactus</title>
     
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="index.html">
    <link rel="stylesheet" href="colors_bt5.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="cart.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light " data-spy="affix" data-offset-top="197" style="background-color: #E7C0B9;">
        <div class="container-fluid ">
            <ul class="navbar-nav active">
                <li class="nav-item "><a href="home.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="cactus.html" class="nav-link">ShopAll</a></li>
                <li class="nav-item"><a href="story.html" class="nav-link">Story</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="help.html" class="nav-link">Help</a></li>
            </ul>
            <a href="home.html" class="navbar-brand "><h4>CACTUS.S</h4></a>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="cart.html" class="nav-link">Shopping</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Notification</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="cart-bt">
            <h5 class="cart-bt-1">Product</h5>
            <h5 class="cart-bt-2">Price</h5>
            <h5 class="cart-bt-3">Number</h5>
            <h5 class="cart-bt-4">Total</h5>
        </div>
    </div>

    <div class="container-fluid cart">
        <div class="container-fluid cart-item">
            <input class="cart-form-check-input" type="checkbox" value="flexCheckDefault" checked>
            <img src="picture/story3.png" class="cart-img">
            <p class="cart-name-p">Cactus</p>
            <p class="cart-name-pc">THB 250</p>
            <ul class="pagination justify-content">
                <li class="page-item">
                    <a href="#" class="page-link"><span>&#45</span></a>
                </li>
                <li class="cart-number-item">
                    <a href="#" class="page-link">0</a>
                </li>
                <li class="cart-number-item">
                    <a href="#" class="page-link">&#43</a>
                </li>
            </ul>
            <p class="cart-name-t">THB 250</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="cart-btt">
            <input class="cart-form-check-input-last" type="checkbox" value="flexCheckChecked" checked>
            <label class="cart-form-check-lable-last" for="flexCheckChecked">All Product</label>
            <p class="cart-text-last text-center">Total  1 (หน่วย)  THB  </p>
            <button class="btn justify-content-md-end btn-link">Confirm</button>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>