{% extends 'layout.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'colors_bt5.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <div class="container-fluid bd-blue-100 mt-5 p-3">
 
        <div class="row ">
            <div class="col-md-12">
                <div class="row">
                        <div class="col-sm-3">
                            <img class="ms-5"  src="{% static 'media/5.png' %}" style="width: 250px;"/>
                        </div>
                        <div class="col-sm-3">
                            <img src="{% static 'media/10.png' %}" style="width: 500px; margin-left: 150px;"/>
                        </div>
                        <div class="col-sm-3">
                            <p class="text-end" style="margin-right: -300px; font-size: 50px;" >CACTUSS</p>
                            <p class="text-end mt-5" style="margin-right: -300px; font-size: 50px;" >CACTUSS</p>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-light " style="margin-top: 250px; margin-left: 130px;" >Shopping &raquo;</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid" id="vue_app">
        
        <h4 style="margin-top: 30px;">{{txt}}</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-3" v-for="store,index in stores" :key="index">
                        <div class="card" style="margin-top: 30px;  width: 200px;" align="center">
                            <img :src="store.image" class="card-img-top ps-3" alt="..." style="width: 200px;height: 250px; padding: 20px;">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{store.name}}</h5>
                                <a href="#" class="btn btn-primary btn-sm float-center">เข้าชมร้าน</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       
        <br>
        <div class="container-fluid">
        <section class="showcase">
            <div class="container-fluid pt-5">
                <div class="row row-cols-2">
                    <div class="col bd-blue-100 showcase-img" align="center">
                        <img src="{% static 'media/3.png' %}" alt="" style="width: 300px;">
                        <p class="text-center" style="margin-top: -50px;">THB 250</p>
                    </div>
                    <div class="col bd-gray-500 showcase-img" align="center">
                        <h4 class="text-start ps-3" style="margin-top: 50px;">POT</h4>
                        <img src="{% static 'media/4.png' %}" alt="" style="width: 250px; height: 250px;">
                    </div>
                    <div class="col bd-gray-300 showcase-img">
                        <h5>GARDEN DECCRATION</h5>
                        <img src="{% static 'media/7.png' %}" class="img-fluid"  style="width: 1000px; height: 300px;padding-top: -100px;">
                    </div>
                    <div class="col bd-blue-100 showcase-img" align="center">
                        <h3>THB 750</h3>
                        <img src="{% static 'media/6.png' %}" alt="" style="width: 300px; height: 300px; margin-top: -20px; margin-left: 50px;">
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-left: 400px;">
                <div class="row">
                    <div class="col-sm-2 mt-5" v-for="product,index in products" :key="index">
                        <a class="link-light" style="text-decoration: none;">
                            <img :src="product.image"  width="100%" > 
                            <p style="margin-top: -150px;"><center>{{product.name}}</center></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>  
    <br></br>
    <div class="text-center" style="margin-top: 100px;">
        <h4>เว็บไซต์ซื้อ-ขาย CACTUS ออนไลน์</h4>
        <h4>แหล่งการค้าที่รวมร้านค้าไว้มากมายสำหรับผู้ที่สนใจ CACTUS</h4>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#vue_app',
            data: () => {
                return ({
                    txt: "Recommended shops",
                    stores : [],
                    products : []

                })
            },
            async created() {
                await this.loadData();
                await this.loadData2();

            },
            methods: {
                async loadData() {
                    this.stores = await axios.get('http://127.0.0.1:8000/store/view/')
                        .then((result) => {
                            return result.data
                        })
                        .catch((error) => {
                            return error.response
                        })
                },
                async loadData2() {
                    this.products = await axios.get('http://127.0.0.1:8000/product/category/')
                        .then((result) => {
                            return result.data
                        })
                        .catch((error) => {
                            return error.response
                        })
                }
            },

        });
    </script>
    
</body>
</html>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  

{% endblock %}