<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Castus</title>
    

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light " data-spy="affix" data-offset-top="197" style="background-color: #E7C0B9;">
        <div class="container-fluid ">
            <ul class="navbar-nav active">
                <li class="nav-item "><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="cactus.html" class="nav-link">ShopAll</a></li>
                <li class="nav-item"><a href="story.html" class="nav-link">Story</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="help.html" class="nav-link">Help</a></li>
            </ul>
            <a href="/" class="navbar-brand "><h4>CACTUS.S</h4></a>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
              <form method="post" action="{% url 'blogs_logout' %}"   novalidate>
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger ml-2">Log out</button>
              </form>
              {% else %}
              <a class="btn btn-info mx-2" href="{% url "blogs_login" %}">Log in</a>
              {% endif %}
                <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Shopping</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Notification</a></li>
            </ul>
        </div>
    </nav> 
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
  
</body>
</html>