<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cactus</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="decaration.html">
    <link rel="stylesheet" href="colors_bt5.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light " data-spy="affix" data-offset-top="197" style="background-color: #E7C0B9;">
        <div class="container-fluid ">
            <ul class="navbar-nav active">
                <li class="nav-item "><a href="home.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="cactus.html" class="nav-link">ShopAll</a></li>
                <li class="nav-item"><a href="story.html" class="nav-link">Story</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="help.html" class="nav-link">Help</a></li>
            </ul>
            <a href="home.html" class="navbar-brand "><h4>CACTUS.S</h4></a>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="cart.html" class="nav-link">Shopping</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Notification</a></li>
            </ul>
        </div>
    </nav>

    <nav class="nav navbar-expand-md navbar-light" style="background-color: gray; margin-top: 200px;">
        <div class="container-fluid ">
            <ul class="navbar-nav active justify-content-center">
                <li class="nav-item "><a href="#" class="nav-link">หน้าแรก</a></li>
                <li class="nav-item"><a href="#" class="nav-link">สินค้า</a></li>
                <li class="nav-item"><a href="#" class="nav-link">การจัดส่ง</a></li>
                <li class="nav-item"><a href="#" class="nav-link">คำสั่งซื้อ</a></li>
                <li class="nav-item"><a href="#" class="nav-link">การเงิน</a></li>
                <li class="nav-item"><a href="#" class="nav-link">การบริการลูกค้า</a></li>
            </ul>
        </div>
    </nav>

    <div class="container nav-pills flex-column mt-5">
        <h3>Colleotion All</h3>
        <ul class="navbar-nav ">
            <li class="nav-item text-link">
                <a class="nav-link link-dark" href="shopall.html">Cactus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark" href="pot.html">Pot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark" href="pottingsoil.html">Potting Soil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark" href="decaration.html">Decaration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark" href="feritilizer.html">Fertilizer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark" href="seed.html">Seed</a>
            </li>
        </ul>
     </div>

    <div class="container mt-5 mb-5">
        <label for="customRange3" class="form-lable ">Price</label><br>
        <input type="range" class="form-rang" min="0" max="1000" step="100" id="customRang3">
    </div>
    <div class="container-fluid seed-check">
        <h3>Size</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefult">
            <label class="form-check-label" for="flexCheckDefult">Large</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefult">
            <label class="form-check-label" for="flexCheckDefult">Medium</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefult">
            <label class="form-check-label" for="flexCheckDefult">Small</label>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>