{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'colors_bt5.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<div class="container">
    <div class="col-lg-6 offset-lg-3">
    <h1>Regsiter</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    </div>
</div>
    
{% endblock %}