<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Castus</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="colors_bt5.css">
    <link rel="stylesheet" href="css/custom.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light" data-spy="affix" data-offset-top="197" style="background-color: #E7C0B9;">
        <div class="container-fluid ">
            <ul class="navbar-nav">
                <li class="nav-item "><a href="home.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="cactus.html" class="nav-link">ShopAll</a></li>
                <li class="nav-item"><a href="story.html" class="nav-link">Story</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="help.html" class="nav-link">Help</a></li>
            </ul>
            <a href="home.html" class="navbar-brand "><h4>CACTUS.S</h4></a>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Shopping</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Notification</a></li>
            </ul>
        </div>
    </nav>

    <section class="showcase pt-5">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-dark showcase-img" style="background-image: url(picture/story1.png);"> <h2>Cactus...คืออะไร?</h2> </div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>คือ</h2>
                    <p>Cactus หรือ กระบองเพชรจัดเป็นไม้ดอกไม้ประดับจากต่างประเทศที่นิยมปลูกชนิดหนึ่ง โดยเฉพาะการปลูกประดับภายในอาคาร เช่น 
                        ห้องทำงาน ห้องรับแขก ห้องนอน ตามระเบียง หรือห้องโถงในอาคารต่างๆ เนื่องจากเป็นไม้ที่โดดเด่น สะดุดตา ลำต้นไม่มีใบ มีหนามหรือตุ่มหนามปกคลุม  
                        ลำต้นอวบสั้น ปลูกง่าย ไม่ต้องดูแลให้ยุ่งยาก และมีอายุนานหลายปี</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-dark showcase-img" style="background-image: url(picture/story2.png);"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>สิ่งที่ควรรู้</h2>
                    <p> แม้ Cactus เป็นพืชที่ไม่ต้องการน้ำมาก แต่ก็ต้องการน้ำต่อเนื่อง ฉะนั้นเมื่อต้นโตเต็มที่แล้ว ควรหมั่นให้น้ำอย่างน้อย 7-10 วันต่อครั้ง บำรุงด้วยปุ๋ยคอกหรือปุ๋ยหมัก 5-6 ครั้งต่อปี 
                        หมั่นตัดส่วนที่เป็นโรคทิ้ง สิ่งที่ต้องระวังในการปลูกต้นกระบองเพชรคือ ลำต้นเหี่ยว มีรอยย่น และแคระแกร็น โคนโยก รากเน่าเพราะความชื้นสูงเกินไปแต่ไม่ค่อยมีปัญหาเรื่องศัตรูพืชเหมือนต้นไม้ชนิดอื่น ๆ</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-dark showcase-img" style="background-image: url(picture/story3.png);"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>วิธีปลูกและการดูแล</h2>
                    <p>สำหรับการปลูกในบ้าน คือ วางให้โดนแดดโดยตรงในช่วงที่กำลังโต ประมาณ 4-6 ชั่วโมงต่อวัน นอกเหนือจากนี้ก็วางกระถางในที่ที่มีแดดรำไรและหมั่นรดน้ำเป็นประจำ เมื่อหน้าดินแห้งต้องรดน้ำให้
                        ชุ่มหรือให้น้ำซึมลงไปจากหน้าดินประมาณ 2 นิ้ว นอกจากนี้ก็หมั่นใส่ปุ๋ยอย่าให้ขาดโดยเป็นปุ๋ยที่ใช้สำหรับบำรุงแคคตัสเท่านั้น หากมีการเปลี่ยนกระถางไม่ควรรดน้ำทันที แต่ให้เว้นไว้ประมาณ 
                        สัปดาห์ก่อนให้น้ำครั้งต่อไป </p>
                </div>
            </div>
        </div>
    </section>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
<!--
    <h4 class="pt-5 ps-3">Recommended shops</h4>
    <div>
        <div class="card" style="margin-top: 20px; margin-left: 100px; width: 200px;" align="center">
            <img src="picture/1.png" class="card-img-top ps-3" alt="..." style="width: 200px;height: 250px; padding: 20px;">
            <div class="card-body">
                <h5 class="card-title text-center">123</h5>
                <a href="#" class="btn btn-primary btn-sm float-end">เข้าชมร้าน</a>
            </div>
         </div>
         <div class="card" style="margin-top: -356px; margin-left: 480px; width: 200px;">
             <img src="picture/2.png" class="card-img-top ps-3" alt="..." style="width: 200px;height: 250px; padding: 20px;">
             <div class="card-body ">
                 <h5 class="card-title text-center">123</h5>
                 <a href="#" class="btn btn-primary btn-sm float-end">เข้าชมร้าน</a>
             </div>
         </div>
         <div class="card" style="margin-top: -356px; margin-left: 845px; width: 200px;">
             <img src="picture/3.png" class="card-img-top ps-3" alt="..." style="width: 200px;height: 250px; padding: 20px;">
             <div class="card-body ">
                 <h5 class="card-title text-center">123</h5>
                 <a href="#" class="btn btn-primary btn-sm float-end">เข้าชมร้าน</a>
             </div>
         </div>
         <div class="card" style="margin-top: -356px; margin-left: 1230px; width: 200px;">
             <img src="picture/4.png" class="card-img-top ps-3" alt="..." style="width: 200px;height: 250px; padding: 20px;">
             <div class="card-body ">
                 <h5 class="card-title text-center">345</h5>
                 <a href="#" class="btn btn-primary btn-sm float-end">เข้าชมร้าน</a>
             </div>
         </div>
    </div>
    
    <br>
    <div class="container-fluid pt-5">
        <div class="row row-cols-2">
            <div class="col bd-blue-100" align="center">
                <img src="picture/3.png" alt="" style="width: 300px;">
                <p>THB 250</p>
            </div>
            <div class="col bd-gray-500" align="center">
                <p class="text-start">POT</p>
                <img src="picture/4.png" alt="" style="width: 250px; height: 250px;">
            </div>
            <div class="col bd-gray-300">
                <p class="ps-5 pt-5">GARDEN DECCRATION</p>
                <img src="picture/7.png" class="img-fluid"  style="width: 1000px; height: 300px;padding-top: -100px;">
            </div>
            <div class="col bd-blue-100" align="center">
                <p class="text-start">THB 750</p>
                <img src="picture/6.png" alt="" style="width: 300px; height: 300px; margin-top: -20px; margin-left: 50px;">
            </div>
        </div>
    </div>
-->